.countdown {
    margin: auto;
    display: table;
    font-size: 28px;
    font-weight: 500;
    color: $color-white;
    >div {
        text-align: center;
        float: left;
        min-width: 80px;
    }
    span {
        position: relative;
        display: block;
        font-size: 16px;
        text-align: center;
        &:before {
            content: '';
            position: absolute;
            top: -2px;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            width: 20px;
            height: 1px;
            background: #fff;
        }
    }
}